
---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div  style="background-color: #FAF3E3;">

        <div  class="h-full mx-auto ">
         <div class="p-10 mb-10 flex justify-center">
           <div class=" flex flex-col gap-8">
             <span class="text-3xl text-black title">“Where creativity, care, and courage always start at home.”
               — Mailan Home Bakery</span>

               <button style="margin-top: 20px; margin-bottom: 20px;" class="py-3  hover:cursor-pointer px-8 rounded-lg bg-[#E4B52E]">
                 <a href="/recipes" class="text-[#6E3E6F] title  text-3xl">EXPLORE RECIPES</a>
               </button>
           </div>
         </div>

         <div class="flex flex-col gap-15  justify-center w-full">

           <div class="flex items-center flex-col gap-4 text-center">
             <span class="text-3xl charcoal title"> Mailan — A Legacy Stitched with Love</span>
             <p id="body" class="text-xl charcoal title ">
               Mailan is more than a name — it’s a legacy stitched together by love, family, and
               creativity.
               After giving birth to me, my mom opened her own tailor shop in our small hometown in Vietnam
               — named after
               herself and her sister: Mai and Lan.
               Mai — the Vietnamese Mickey-Mouse flower or yellow apricot blossom, blooms every Lunar New
               Year and symbolizes
               prosperity, hope, and new beginnings.
               Lan — Orchid, delicate and graceful, representing beauty, strength, and enduring love.
               My name, Quynh, also comes from a flower — the Night-Blooming Epiphyllum or Queen of the
               Night. It blooms only
               once, symbolizing rare beauty and quiet resilience.
               Together, Mai, Lan, and Quynh form the heart of Mailan Bakery — a story of women, family,
               and flowers that
               bloom in their own time.
             </p>
           </div>




         </div>

       </div>
    </div>
