---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main class="h-dvh"  style="background-color: #FAF3E3;">
        <div class="container mx-auto p-4">
  <h1 class="text-center text-5xl font-bold">
            Contact
        </h1>
        <h4 class="text-center p-4 text-3xl">
            Thank you for checking out my website! I would love to work together. For all business inquiries, please
            email
            <a class="underline" href="mailto:mailanplannerco@gmail.com">
                mailanplannerco@gmail.com
            </a> or message me on Instagram @mailanhomebakery
        </h4>
        </div>

    </main>

</Layout>
