---
import Layout from "../layouts/Layout.astro"
---

<Layout>


    <main style="background-color: #FAF3E3;" >
        <div class="p-4 container mx-auto">
            <h1 class="border-b text-3xl font-bold">
                Terms & conditions
            </h1>

            <h3 class="text-xl my-3 font-bold">
                📄 Terms and Conditions
            </h3>
            <h3 class="text-xl font-bold my-3">

                Last updated: February 10th, 2026
            </h3>

            <p class="border-b">
                Welcome to Mailan Home Bakery. By accessing and using mailanhomebakery.com, you agree to be bound by the
                following Terms
                and Conditions. If you do not agree with any part of these terms, please do not use our website.

            </p>

            <h3 class="text-xl font-bold my-3">
                Use of the Website
            </h3>

            <p class="border-b">
                The content on this website is provided for general informational and educational purposes only. We make
                no guarantees
                regarding accuracy, completeness, or reliability of any content.
                <br>
                <br>
                You agree not to:
            <ul class="list-disc ms-3">
                <li>
                    Use the website for unlawful purposes
                </li>
                <li>
                    Attempt to disrupt or damage the website
                </li>
                <li>
                    Copy or reproduce content without permission
                </li>
            </ul>

            </p>

            <h3 class="text-xl font-bold my-3">
                Intellectual Property
            </h3>

            <p class="border-b">
                All content on this website, including text, images, graphics, and logos, is the property of Mailan Home
                Bakery, unless
                otherwise stated.
                <br>
                <br>
                You may not reproduce, distribute, or republish any material without prior written consent.

            </p>

            <h3 class="text-xl font-bold my-3">
                External Links
            </h3>

            <p class="border-b">
                This website may contain links to third-party websites. We have no control over the content or practices
                of these sites
                and are not responsible for any damages or losses resulting from their use.

            </p>

            <h3 class="text-xl font-bold my-3">
                Affiliate Disclosure
            </h3>
            <p class="border-b">
                Some links on this website may be affiliate links. This means we may earn a small commission at no
                additional cost to
                you if you make a purchase through these links.
                <br>
                <br>
                We only recommend products or services we genuinely believe are useful or relevant.

            </p>


            <h3 class="text-xl font-bold my-3">
                Disclaimer
            </h3>
            <p class="border-b">
                All content is provided “as is” without warranties of any kind.
                We are not liable for any losses, damages, or injuries resulting from the use of this website.

            </p>

            <h3 class="text-xl font-bold my-3">
                Limitation of Liability
            </h3>
            <p class="border-b">

                Under no circumstances shall <b>MailanHomeBakery.com</b> be liable for any direct, indirect, incidental,
                or consequential
                damages arising from your use of this website.
            </p>

            <h3 class="text-xl font-bold my-3">
                Changes to These Terms
            </h3>
            <p class="border-b">
                We reserve the right to update or modify these Terms and Conditions at any time without prior notice.
                Continued use of
                the website constitutes acceptance of the updated terms.

            </p>

            <h3 class="text-xl font-bold my-3">
                Governing Law
            </h3>
            <p class="border-b">
                These Terms shall be governed and interpreted in accordance with the laws of the
                <b>
                    United States.
                </b>
            </p>
            <h3 class="text-xl font-bold my-3">
                Contact Us

            </h3>
            <p class="border- b">
                If you have any questions about these Terms and Conditions, please contact us at:

                <a href="mailto:mailanplannerco@gmail.com">📧mailanplannerco@gmail.com</a>
            </p>


        </div>


    </main>

</Layout>
