	---
	import { getImage } from 'astro:assets'
import Nav from '../components/nav.svelte'
	import '../styles/global.css'


const postsPromise = await fetch(`http://mailanhomebakery.local/wp-json/wp/v2/recipe`)
const posts = await postsPromise.json()

const postsWithImages = await Promise.all(
    posts?.map(async (element:any) => {
        if (element.featured_media != null) {
            const featuredImagePromise = await fetch(`http://mailanhomebakery.local/wp-json/wp/v2/media/${element.featured_media}`)
            const featuredImageJson = await featuredImagePromise.json()
            console.log(featuredImageJson.guid?.rendered)
            if (featuredImageJson && featuredImageJson.guid?.rendered) {
                element["image_url"] = featuredImageJson.guid?.rendered
                console.log(element.image_url)
                const optImage = await getImage({src:element["image_url"], format: "avif", height: 100, width:100 })
                element["optimized_image"] =  optImage.src

            }

        }
        if (element.optimized_image != null) {

            return element
        }
    })

)
const filteredPosts = postsWithImages.filter(element  => element != null)
	---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/mailan circular logo.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>Mailan Home Bakery</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<Nav client:load posts={filteredPosts}/></Nav>
		<main style="background-color: #FAF3E3;"  class="flex-1">

			<slot />
		</main>
		<footer class="bg-black w-full text-white font-semibold flex gap-2 items-center p-4">
	  <div>
		&copy; Mailan Home Bakery
	  </div>

		<a class="border-r border-r-white px-2"  href="/privacy-policy">Privacy Policy</a>
	   <a  class="border-r border-r-white px-2" href="/terms-and-conditions">
		Terms & Conditions
	   </a>


  </footer>
	</body>
</html>
